.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 13px;
    -fx-background-color: #f4f4f4;

    -fx-primary-color: #00897B;
}

/* progress bar */
.progress-bar .bar {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 6;
}
.progress-bar .track {
    -fx-background-color: #ddddd;
    -fx-background-radius: 6;
}

/* Buttons */
.button {
    -fx-background-color: -fx-primary-color;
    -fx-border-color: -fx-primary-color;
    -fx-text-fill: white;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-padding: 4 14;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-border-width: 1.5;
}
.button:hover {
    -fx-background-color: #00BFA5;
    -fx-border-color: #00BFA5;
}

/* Table */
.data-table {
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 6, 0, 0, 2);
}

.data-table .column-header-background,
.data-table .column-header,
.data-table .corner,
.data-table .filler {
    -fx-background-color: -fx-primary-color;
}
.table-view:focused {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.data-table .column-header .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}
.data-table .table-cell {
    -fx-padding: 8 12;
    -fx-font-size: 13px;
    -fx-border-width: 0 0 1 0;
}

.table-row-cell:selected {
    -fx-background-color: transparent;
}
.table-row-cell:selected .text {
    -fx-fill: black;
}
.table-row-cell:hover {
    -fx-background-color: #f2f2f2;
    -fx-cursor: hand;
}

/* TextField */
.text-field {
    -fx-background-color: white;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-border-color: #D0D7DE;
    -fx-border-width: 1.5;
    -fx-padding: 4 10;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #9E9E9E;
}
.text-field:focused {
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 1.5;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.text-field {
    -fx-highlight-fill: -fx-primary-color;
    -fx-highlight-text-fill: white;
}

/* Labels */
.label {
    -fx-text-fill: #616161;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
}

/* ComboBox */
.combo-box {
    -fx-background-color: white;
    -fx-border-color: #D0D7DE;
    -fx-border-width: 1.5;
    -fx-padding: 2 8;
    -fx-cursor: hand;
}
.combo-box:focused {
    -fx-border-color: -fx-primary-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: #D0D7DE;
}
.combo-box-popup .list-cell {
    -fx-padding: 6 10;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #E0F2F1;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}


